<h1>Place</h1>

<div>
  <table style="width: 100%">
    <thead>
      <tr>
        <th role="columnheader" scope="col">ID</th>
        <th role="columnheader" scope="col">Name</th>
        <th role="columnheader" scope="col">Description</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let place of places">
        <td>{{place.id}}</td>
        <td>{{place.name}}</td>
        <td>{{place.description}}</td>
        <td>
          <button (click)="delete(place)" color="delete" mat-raised-button>Delete</button>
          <br>
          <a [routerLink]="['/place', place.id]" color="primary" mat-raised-button>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
<a *appIsInRoles="[roles.Admin]" [routerLink]="['/place']" color="primary" mat-raised-button>New place</a>

</div>

