<div class="head">
  <h1>Category</h1>

  <a  [routerLink]="['/categorys']" color="primary" mat-raised-button>Back</a>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="save(categoryForm.value)">
    <fieldset>
      <mat-form-field>
      <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput required />
      </mat-form-field>
      <br />

    </fieldset>
    <div class="text-right">
      <button type="reset" color="primary" mat-raised-button>Cancel</button>
      <button type="submit"color="primary" mat-raised-button>Save</button>
    </div>
  </form>
