<h1>Category</h1>

<div>
  <table style="width: 100%">
    <thead>
      <tr>
        <th role="columnheader" scope="col">ID</th>
        <th role="columnheader" scope="col">Name</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of categorys">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
          <button (click)="delete(category)" color="delete" mat-raised-button>Delete</button>
          <br>
          <a [routerLink]="['/category', category.id]" color="primary" mat-raised-button>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
<a *appIsInRoles="[roles.Admin]" [routerLink]="['/category']" color="primary" mat-raised-button>New category</a>

</div>

