  <div class="head">
  <h1>Event</h1>

  <a  [routerLink]="['/events']" color="primary" mat-raised-button>Back</a>
  </div>
  <form [formGroup]="eventForm" (ngSubmit)="save(eventForm.value)">
    <fieldset>
      <mat-form-field>
      <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput required />
      </mat-form-field>
      <br />

      <label>Start Date<br />
        <input type="datetime-local" formControlName="startDate"  required />
      </label>
      <br />

      <label>End Date<br />
        <input type="datetime-local" formControlName="endDate"  required />
      </label>

      <p>Member</p>
        <select multiple required
          formControlName="members"
          [compareWith]="compareOptions">
          <option [ngValue]="member"
            *ngFor="let member of members">
            {{member.name}}
          </option>
        </select>

      <label>
        <p>Place</p>
        <select
        formControlName="place"
        [compareWith]="compareOptions">
        <option [ngValue]="place"
          *ngFor="let place of places">
          {{place.name}}
        </option>
        </select>
      </label>

      <label>
        <p>Category</p>
        <select
        formControlName="category"
        [compareWith]="compareOptions">
        <option [ngValue]="category"
          *ngFor="let category of categorys">
          {{category.name}}
        </option>
        </select>
      </label>

    </fieldset>
    <div class="text-right">
      <button type="reset" color="primary" mat-raised-button>Cancel</button>
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </div>
  </form>
