.header {
  background-color: rgb(204, 204, 204);
  margin-bottom: 3rem;
}
button {
  color: black;
}
span {
  color: black;
  margin-right: 2rem;
}

button span {
  color: black;
}
h3 {
  text-align: center;
}
