<mat-toolbar class="header">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['events']">
      <mat-icon>events</mat-icon>
      <span>Events</span>
    </button>
    <button mat-menu-item [routerLink]="['places']">
      <mat-icon>places</mat-icon>
      <span>Places</span>
    </button>
    <button mat-menu-item [routerLink]="['members']">
      <mat-icon>members</mat-icon>
      <span>Members</span>
    </button>
    <button mat-menu-item [routerLink]="['categorys']">
      <mat-icon>categorys</mat-icon>
      <span>Categorys</span>
    </button>
  </mat-menu>

  <span>Calendar</span>

  <span class="toolbar__spacer"></span>

  <span class="toolbar__spacer"></span>

  <app-login> </app-login>

</mat-toolbar>
<div>
  <h3>This is a calendar application designed and programmed in the module 294 </h3>
</div>

<main class="container">

  <div class="container__section">
    <router-outlet></router-outlet>

  </div>
</main>
