<h1>Event</h1>

<div>
  <table style="width: 100%">
    <thead>
      <tr>
        <th role="columnheader" scope="col">ID</th>
        <th role="columnheader" scope="col">Name</th>
        <th role="columnheader" scope="col">Start Date</th>
        <th role="columnheader" scope="col">End Date</th>
        <th role="columnheader" scope="col">Category</th>
        <th role="columnheader" scope="col">Member/s</th>
        <th role="columnheader" scope="col">Place</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.startDate}}</td>
        <td>{{event.endDate}}</td>
        <td>{{event.category.name}}</td>
        <td >
          <span *ngFor="let member of event.members">{{member.name}}</span>
        </td>
        <td>{{event.place.name}}</td>
        <td>
          <button (click)="delete(event)" color="delete" mat-raised-button>Delete</button>
          <br>
          <a [routerLink]="['/event', event.id]" color="primary" mat-raised-button>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
<a *appIsInRoles="[roles.Admin]" [routerLink]="['/event']" color="primary" mat-raised-button>New event</a>

</div>
