<div>
  <table style="width: 100%">
    <thead>
      <tr>
        <th role="columnheader" scope="col">Name</th>
        <th role="columnheader" scope="col">Start Date</th>
        <th role="columnheader" scope="col">End Date</th>
        <th role="columnheader" scope="col">Category</th>
        <th role="columnheader" scope="col">Member/s</th>
        <th role="columnheader" scope="col">Genre</th>
        <th role="columnheader" scope="col">Place</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td scope="row">
          <a [routerLink]="['/events', event.id]">{{event.name}}</a>
        </td>
        <td>{{event.category}}</td>
        <td>{{event.place}}</td>
        <td>{{event.member}}</td>
        <td>
        <td><a (click)="delete(event)">Delete</a></td>
      </tr>
    </tbody>
  </table>
<a *isInRoles="[roles.Admin]" [routerLink]="['/event']">New event</a>

</div>
